<div class="header">
    <div *ngIf="getName()==null" class="ifNotReg">
        <div class="register" *ngIf="getUrl()=='/login'">
            <button (click)="goTo('register')" class="click">REGISTER</button>
        </div>
        <div class="login" *ngIf="getUrl()!='/login'">
            <button (click)="goTo('login')" class="click">LOG IN</button>
        </div>
    </div>
    <div *ngIf="getName()!=null" class="ifReg">
        <div *ngIf="getUrl()!='/me'" class="ifNotMe">
            <div class="userInfo">
                <h3 class="name" (click)="toggleMenu()">{{getName()}}</h3>
                <img src={{getAvatar()}} class="avatar" (click)="toggleMenu()">
            </div>
            <div class="menu" *ngIf="menu">
                <button class="click" (click) = "goTo('me')">Profile</button>
                <button class="click" (click) = "logOut()">Exit</button>
            </div>
        </div>
        <div class="ifMe" *ngIf="getUrl()=='/me'">
            <button class="click" (click) = "logOut()">Exit</button>
        </div>
    </div>
    <p class="logo">PASCALL</p>
    <div class="search" *ngIf="getUrl()=='/'">
        <img src='images/search.svg'>
        <input class="searchLine">
    </div>
    <div class="return" *ngIf="getUrl()=='/lot'||getUrl()=='/me'">
        <img class="click" (click)="goTo('/')" src="./images/return.svg">
    </div>
</div>  