
.menu{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.map{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
}