
.menu{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.map{
    max-width: 1800px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
}
img{
    position: absolute;
    left: 50%;
    top: 7%
}